@model IEnumerable<AlbumShare2.Models.Album>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Album
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                Location
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string url = "images/image15.jpg";
            try { url = item.Images.First().url; }
            catch { }
        
        <tr>
            <td>
                <img src="@url" height="100" width="100" /><br />
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                <a asp-controller="Users" asp-action="Details" asp-route-id="@item.User.Id">@Html.DisplayFor(modelItem => item.User.name)</a><br />
                @Html.DisplayFor(modelItem => item.User.email)<br />
                @Html.DisplayFor(modelItem => item.User.phonenum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.address)
            </td>
        </tr>
        }
    </tbody>
</table>
