@model IEnumerable<AlbumShare2.Models.Album>
@{
    ViewData["Title"] = "Index";
}
<script>
    function showImages(rowID) {
        var row = document.getElementById(rowID);
        var images = row.getElementsByClassName("images")[0];
        images.removeAttribute("hidden");
        var details = row.getElementsByClassName("details");
        for (var i = 0; i < details.length; i++) {
            details[i].setAttribute("hidden", true);
        }
    }
    function hideImages(rowID) {
        var row = document.getElementById(rowID);
        var images = row.getElementsByClassName("images")[0];
        images.setAttribute("hidden", true);
        var details = row.getElementsByClassName("details");
        for (var i = 0; i < details.length; i++) {
            details[i].removeAttribute("hidden");
        }
    }
</script>
<h2>Index</h2>
<form asp-controller="Albums" asp-action="Index">
    <p>
        <input type="text" name="SearchString" placeholder="Search for User or Title...">
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Album
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                Location
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string url = "images/image15.jpg";
            try { url = item.Photos.First().tumbnailUrl; }
            catch { }
        
        <tr id="row @Html.DisplayFor(modelItem => item.Id)">
            <td colspan="3" class="images" hidden>
                @foreach (var photo in item.Photos)
                {
                    <img src="@photo.tumbnailUrl" height="100" width="100" />
                }
            <br /><a class="title" onclick="hideImages('row @Html.DisplayFor(modelItem => item.Id)')">@Html.DisplayFor(modelItem => item.title)</a>
            </td>
            <td class="details">
                <img src="@url" height="100" width="100" /><br />
                <a class="title" onclick="showImages('row @Html.DisplayFor(modelItem => item.Id)')">@Html.DisplayFor(modelItem => item.title)</a>
            </td>
            <td class="details">
                <a asp-controller="Users" asp-action="Details" asp-route-id="@item.User.Id">@Html.DisplayFor(modelItem => item.User.name)</a><br />
                @Html.DisplayFor(modelItem => item.User.email)<br />
                @Html.DisplayFor(modelItem => item.User.phone)
            </td>
            <td class="details">
                @Html.DisplayFor(modelItem => item.User.address)
            </td>
        </tr>
        }
    </tbody>
</table>
