@model IEnumerable<AlbumShare2.Models.Album>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Album
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                Location
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string url = "images/image15.jpg";
            try { url = item.Images.First().url; }
            catch { }
        
        <tr id="row @Html.DisplayFor(modelItem => item.Id)">
            <td colspan="3" class="images @Html.DisplayFor(modelItem => item.Id)" hidden>
                @foreach (var image in item.Images)
                {
                    <img src="@image.url" height="100" width="100" />
                }
                <span>@Html.DisplayFor(modelItem => item.title)</span>
            </td>
            <td class="details @Html.DisplayFor(modelItem => item.Id)">
                <img src="@url" height="100" width="100" /><br />
                <a class="title">@Html.DisplayFor(modelItem => item.title)</a>
            </td>
            <td class="details @Html.DisplayFor(modelItem => item.Id)">
                <a asp-controller="Users" asp-action="Details" asp-route-id="@item.User.Id">@Html.DisplayFor(modelItem => item.User.name)</a><br />
                @Html.DisplayFor(modelItem => item.User.email)<br />
                @Html.DisplayFor(modelItem => item.User.phonenum)
            </td>
            <td class="details @Html.DisplayFor(modelItem => item.Id)">
                @Html.DisplayFor(modelItem => item.User.address)
            </td>
        </tr>
        }
    </tbody>
</table>
